<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Batch Running Test Suite">
  
  <test name="Rediff Login Test">
    <classes>
      <class name="testng_code_BatchRunnin_24th_Apr_2023.RediffLoginTest"/>
      </classes>
  </test>
  
  
  <test name="Register TN Test">
  <classes>
      <class name="testng_code_BatchRunnin_24th_Apr_2023.TNRegisterTest"/>
  </classes>   
  </test>
  
  
  
  <test name="Login TN Test">
  <classes>
      <class name="testng_code_BatchRunnin_24th_Apr_2023.TNLoginTest"/>
    </classes>
  </test> 
  
  
</suite> 
